:root {
    --color-hue: 200;
    --color-sat: 100%;
    --color-light: 50%;
    /* light theme */
    --color-primary-light: hsl(var(--color-hue), var(--color-sat), var(--color-light));
    --color-text1-light: hsl(var(--color-hue), var(--color-sat), 10%);
    --color-text2-light: hsl(var(--color-hue) 30% 30%);
    --color-surface1-light: hsl(var(--color-hue), 25%, 90%);
    --color-surface2-light: hsl(var(--color-hue), 20%, 99%);
    --color-surface3-light: hsl(var(--color-hue), 20%, 92%);
    --color-surface4-light: hsl(var(--color-hue), 20%, 85%);
    --color-shadow-light: var(--color-hue), 10%, 20%;
    --color-skeleton-light: var(--color-hue), 0%, 0%;
    /* dark theme */
    --color-primary-dark: hsl(var(--color-hue), calc(var(--color-sat) / 2), calc(var(--color-light) / 1.5));
    --color-text1-dark: hsl(var(--color-hue), 15%, 85%);
    --color-text2-dark: hsl(var(--color-hue), 5%, 65%);
    --color-surface1-dark: hsl(var(--color-hue), 10%, 10%);
    --color-surface2-dark: hsl(var(--color-hue), 10%, 15%);
    --color-surface3-dark: hsl(var(--color-hue), 5%, 20%);
    --color-surface4-dark: hsl(var(--color-hue), 5%, 25%);
    --color-shadow-dark: var(--color-hue), 50%, 3%;
    --color-skeleton-dark: var(--color-hue), 0%, 100%;
}

@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
        --color-primary: var(--color-primary-light);
        --color-text1: var(--color-text1-light);
        --color-text2: var(--color-text2-light);
        --color-surface1: var(--color-surface1-light);
        --color-surface2: var(--color-surface2-light);
        --color-surface3: var(--color-surface3-light);
        --color-surface4: var(--color-surface4-light);
        --color-shadow: var(--color-shadow-light);
        --color-skeleton: var(--color-skeleton-light);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --color-primary: var(--color-primary-dark);
        --color-text1: var(--color-text1-dark);
        --color-text2: var(--color-text2-dark);
        --color-surface1: var(--color-surface1-dark);
        --color-surface2: var(--color-surface2-dark);
        --color-surface3: var(--color-surface3-dark);
        --color-surface4: var(--color-surface4-dark);
        --color-shadow: var(--color-shadow-dark);
        --color-skeleton: var(--color-skeleton-dark);
    }
}

:root[color-scheme='light'] {
    color-scheme: light;
    --color-primary: var(--color-primary-light);
    --color-text1: var(--color-text1-light);
    --color-text2: var(--color-text2-light);
    --color-surface1: var(--color-surface1-light);
    --color-surface2: var(--color-surface2-light);
    --color-surface3: var(--color-surface3-light);
    --color-surface4: var(--color-surface4-light);
    --color-shadow: var(--color-shadow-light);
    --color-skeleton: var(--color-skeleton-light);
}

:root[color-scheme='dark'] {
    color-scheme: dark;
    --color-primary: var(--color-primary-dark);
    --color-text1: var(--color-text1-dark);
    --color-text2: var(--color-text2-dark);
    --color-surface1: var(--color-surface1-dark);
    --color-surface2: var(--color-surface2-dark);
    --color-surface3: var(--color-surface3-dark);
    --color-surface4: var(--color-surface4-dark);
    --color-shadow: var(--color-shadow-dark);
    --color-skeleton: var(--color-skeleton-dark);
}
